.mobileBackdrop {
  position: fixed;
  inset: 0;

  display: flex;
  align-items: start;
  justify-content: center;

  background-color: var(--backdrop-bg);

  z-index: 999;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;

  transition: all var(--transition);
}

.mobileBackdrop.show {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

.mobileMenu {
  position: absolute;
  width: 100%;
  height: 100vh;
  background-color: var(--card-bg);
  padding: 24px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.logoCloseButtonContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 46px;
  width: 100%;
}

.closeButton {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: none;
  padding: 0;
  cursor: pointer;
}

.closeButton:hover,
.closeButton:focus {
  border: none;
}

.closeIcon {
  stroke: var(--button-bg-main);
  transition: all var(--transition);
}

.closeButton:hover .closeIcon,
.closeButton:focus .closeIcon {
  stroke: var(--button-bg-main-hover);
}

.closeButton:hover .burgerIcon,
.closeButton:focus .burgerIcon {
  stroke: var(--main-icon-fill);
}

.mobNavLinkContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 32px;
  margin: auto;
}

.mobNavLink {
  font-weight: 700;
  font-size: 12px;
  color: var(--link-color);
  text-decoration: none;
  transition: var(--transition);
  position: relative;
}

.mobNavLink::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  width: 0;
  height: 1px;
  background-color: var(--link-color);
  transition: all var(--transition);
}

.mobNavLink:hover::after,
.mobNavLink:focus::after,
.mobNavLink.active::after {
  width: 100%;
}

.mobJoinLink,
.tabJoinLink,
.mobCreateLink,
.tabCreateLink {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: var(--button-color-main);
  background-color: var(--button-bg-main);
  border-radius: 64px;
  height: 46px;
  text-decoration: none;
  transition: all var(--transition);
  margin: 0 auto;
}

.mobCreateLink,
.tabCreateLink {
  display: flex;
  width: 100%;
  min-width: 160px;
}

.mobJoinLink {
  width: 100%;
  min-width: 100px;
}

.tabCreateLink {
  display: none;
  min-width: 160px;
}

.tabJoinLink {
  display: none;
  min-width: 100px;
}

.mobJoinLink:hover,
.mobJoinLink:focus,
.tabJoinLink:hover,
.tabJoinLink:focus,
.mobCreateLink:hover,
.mobCreateLink:focus,
.tabCreateLink:hover,
.tabCreateLink:focus {
  background-color: var(--button-bg-main-hover);
}

.avatarContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 32px;
}

.avatarNameContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.avatarNameContainer::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 40px;
  background: #374f42;
  right: -16px;
  bottom: 0;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 256px;
}

.name {
  font-weight: 700;
  font-size: 12px;
  color: var(--link-color);
}

.exitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.exitIcon {
  stroke: var(--button-bg-main);
  fill: none;
  transition: all var(--transition);
}

.exitButton:hover .exitIcon,
.exitButton:focus .exitIcon {
  stroke: var(--button-bg-main-hover);
}

@media screen and (min-width:768px) {
  .mobileMenu {
    padding: 24px 32px;
  }

  .tabCreateCloseContainer {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  .mobJoinLink,
  .mobCreateLink {
    display: none;
  }

  .tabJoinLink,
  .tabCreateLink {
    display: flex;
    margin: 0;
  }

  .avatar {
    width: 32px;
    height: 32px;
  }

  .avatarNameContainer::after {
    bottom: -3px;
  }
}