.modalBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--backdrop-bg);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
}

.modalBackdrop.show {
    opacity: 1;
    pointer-events: auto;
}

.modalWindow {
    position: relative;
    background: var(--card-bg);
    border-radius: 32px;
    padding: 56px 32px 32px;
    width: 361px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    opacity: 0;
    transform: scale(0.95);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.modalBackdrop.show .modalWindow {
    opacity: 1;
    transform: scale(1);
}

.modalClose {
    position: absolute;
    top: 16px;
    right: 16px;
    padding: 0;
    background: none;
    border: none;
}

.modalTitle,
.modalText {
    text-align: center;
    color: var(--color);
    margin: 0;
}

.modalTitle {
    font-weight: 700;
    font-size: 32px;
}

.modalText {
    margin: 20px 0;
    font-weight: 400;
    font-size: var(--font-size);
    line-height: var(--line-height);
}

.modalActions {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.modalBtnLogin,
.modalBtnRegister {
    border-radius: 64px;
    padding: 12px 16px;
    width: 100%;
    height: 46px;
    font-weight: 700;
    font-size: var(--font-size);
}

.modalBtnLogin {
    border: 1px solid var(--button-border-secondary);
    color: var(--button-color-secondary);
    background: var(--button-bg-secondary);
    transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.modalBtnLogin:hover {
    background: var(--button-bg-secondary-hover);
}

.modalBtnRegister {
    border: none;
    color: var(--button-color-main);
    background: var(--button-bg-main);
    transition: background 0.3s ease, color 0.3s ease, border-color 0.3s ease;
}

.modalBtnRegister:hover {
    background: var(--button-bg-main-hover);
}

.modalCloseSvg {
    width: 24px;
    height: 24px;
    fill: none;
    stroke: var(--secondary-icon-fill);
}

@media (min-width: 768px) {
    .modalWindow {
        width: 420px;
        height: auto;
    }

    .modalClose {
        right: 32px;
    }

    .modalActions {
        flex-direction: row;
        justify-content: center;
        gap: 27px;
    }
}
