.create-article-title{
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    vertical-align: middle;
    margin-bottom: 16px;
}

.create-article-form-container{
    padding: 48px 0;
}

