.create-article-title{
    font-family: 'Manrope';
    font-weight: 700;
    font-style: Bold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    margin-top: 48px;
}

