.authorsPage {
  padding: 48px 0;
}

.title {
  font-size: 40px;
  margin-bottom: 16px;
  font-weight: 700;
  line-height: 1.2;
  color: var(--color);
}

.loadMore {
  font-size: 18px;
  background-color: var(--button-bg-main);
  color: var(--button-color-main);
  font-weight: 700;
  line-height: 1;
  border-radius: 64px;
  padding: 16px;
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 340px;
  transition: background-color var(--transition);
}

.loadMore:hover,
.loadMore:focus {
  background-color: var(--button-bg-main-hover);
}
