.registerContainer {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: var(--background-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Registration Form Styles */

.registrationCard {
  width: 100%;
  max-width: 360px;
  background-color: var(--card-bg);
  border-radius: 32px;
}

.cardContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 48px 32px;
}

.title {
  align-self: stretch;
  font-size: 32px;
  font-weight: 700;
  color: var(--color);
  text-align: center;
  margin: 0;
}

.subtitle {
  width: 278px;
  color: var(--color);
  text-align: center;
  margin: 0;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 36px;
  align-self: stretch;
  width: 100%;
}

.formFields {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 26px;
  align-self: stretch;
  width: 100%;
}

.labelInputContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
  align-self: stretch;
  width: 100%;
}

.label {
  align-self: stretch;
  font-size: 12px;
  letter-spacing: 0px;
  color: var(--color);
}

.input {
  background-color: var(--background-color);
  border: 1px solid #9f9f9f;
  line-height: 1.5;
  color: #595d62;
  width: 100%;
  padding: 8px 12px;
  border-radius: 6px;
}

.input:focus {
  outline: none;
  border-color: #649179;
}

.inputError {
  border: 1px solid var(--error-border-color);
}

/*******PasswordStrengthBar********/

.passwordStrength {
  width: 100%;
  max-width: 100%;
  height: 0.15rem;
  margin: -8px 0 1px 0;
}

.error {
  font-size: 12px;
  color: var(--error-text-color);
  top: 100%;
  position: absolute;
}

.passwordField {
  position: relative;
  width: 100%;
}

.passwordInput {
  background-color: var(--background-color);
  border: 1px solid #9f9f9f;
  line-height: 1.5;
  color: #595d62;
  width: 100%;
  padding: 8px 40px 8px 12px;
  border-radius: 6px;
}

.passwordInput:focus {
  outline: none;
  border-color: #649179;
}

.eyeIcon {
  position: absolute;
  right: 8px;
  top: 50%;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  stroke: var(--secondary-icon-fill);
  fill: none;
  cursor: pointer;
}

.registrationButton {
  width: 100%;
  background-color: var(--button-bg-main);
  border-radius: 64px;
  color: var(--button-color-main);
  font-weight: 700;
  border: none;
  padding: 12px;
}

.registrationButton:disabled {
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px #fff;
  background: var(--button-bg-main);
  opacity: 0.3;
  cursor: not-allowed;
}

.registrationButton:hover {
  background: var(--button-bg-main-hover);
  transition: var(--transition);
}

.registrationButton:focus {
  box-shadow: 0 0 0 6px rgba(78, 70, 180, 0.12), 0 0 0 2px #fff;
  background: var(--button-bg-main);
  transition: var(--transition);
}

.loginPrompt {
  align-self: stretch;
  color: #070721;
  text-align: center;
  line-height: 1.5;
  margin: 0;
}

.loginLinkBottom {
  font-weight: 700;
  text-decoration: underline;
  color: #070721;
}

.loginLinkBottom:hover,
.loginLinkBottom:focus {
  color: var(--button-bg-main-hover);
  opacity: 0.5;
  transition: var(--transition);
}

/* Tablet (min-width: 768px) */
@media only screen and (min-width: 768px) {
  .registrationCard {
    max-width: 522px;
  }
}

/* Desktop (min-width: 1440px) */
@media only screen and (min-width: 1440px) {
  .registrationCard {
    max-width: 392px;
  }
}
