.articlesList {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 4 колонки */
  grid-template-rows: repeat(4, auto); /* 3 рядки */
  gap: 16px; /* або будь-який інтервал між елементами */
}
