.navLink {
  font-weight: 700;
  font-size: 12px;
  color: var(--link-color);
  text-decoration: none;
  transition: all var(--transition);
  position: relative;
  padding: 28px 0;
}

.navLink::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 24px;
  width: 0;
  height: 1px;
  background-color: var(--link-color);
  transition: width var(--transition);
}

.navLink:hover::after,
.navLink:focus::after,
.navLink.active::after {
  width: 100%;
}

.createLink,
.profileLink {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  color: var(--button-color-main);
  background-color: var(--button-bg-main);
  border-radius: 64px;
  height: 46px;
  text-decoration: none;
  transition: all var(--transition);
}

.createLink {
  min-width: 160px;
}

.createLink:hover,
.createLink:focus {
  background-color: var(--button-bg-main-hover);
}

.avatarContainer {
  display: flex;
  align-items: center;
  gap: 32px;
}

.avatarNameContainer {
  display: flex;
  align-items: center;
  gap: 8px;
  position: relative;
}

.avatarNameContainer::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 40px;
  background: #374f42;
  right: -16px;
  bottom: -4px;
}

.avatar {
  width: 32px;
  height: 32px;
  border-radius: 256px;
}

.name {
  font-weight: 700;
  font-size: 12px;
  color: var(--link-color);
}

.exitButton {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  padding: 24px 0;
}

.exitIcon {
  stroke: var(--button-bg-main);
  fill: none;
  transition: all var(--transition);
}

.exitButton:hover .exitIcon,
.exitButton:focus .exitIcon {
  stroke: var(--button-bg-main-hover);
}

.deskAuthNav {
  display: none;
}


@media screen and (min-width: 1440px) {
  .deskAuthNav {
    display: flex;
  }
}